{{ define "main" }}

{{ .Scratch.Set "scope" "list" }}
{{ if .Site.Params.list.showHero | default false }}
{{ $heroStyle := print "partials/hero/" .Site.Params.list.heroStyle ".html" }}
{{ if templates.Exists $heroStyle }}
{{ partial $heroStyle . }}
{{ else }}
{{ partial "partials/hero/basic.html" . }}
{{ end }}
{{- end -}}

<header>   
  <h1 class="mt-5 text-4xl font-extrabold text-neutral-900 dark:text-neutral">{{ .Title }}</h1>
    <br>
  </header>

  <main>
    
    <ul>
      <!-- Ranges through content/posts/*.md -->
      {{ range .Pages }}
      <section class="space-y-10 w-full">
      <div class="items-center text-xl font-semibold">
        <div class="text-xl text-neutral-800 decoration-primary-500 hover:underline hover:underline-offset-2 dark:text-neutral">
          <li>
            <a href="{{ .RelPermalink }}"> {{ .LinkTitle }}</a>
          </li>
        </div>
      </div>
    </section>
      {{ end }}
    </ul>

  </main>
{{ end }}

