/* @font-face {
    font-family: font;
    src: url('/fonts/Atkinson-Hyperlegible-Regular-102.ttf');
}
 @font-face {
    font-family: font;
    src: url('/fonts/Atkinson-Hyperlegible-Italic-102.ttf');
} 
@font-face {
    font-family: font;
    src: url('/fonts/Atkinson-Hyperlegible-Bold-102.ttf');
}
@font-face {
    font-family: font;
    src: url('/fonts/Atkinson-Hyperlegible-BoldItalic-102.ttf');
}
html {
    font-family: font;
} */
