{{/*  Using default audio & video layouts
https://www.vidstack.io/docs/player/getting-started/installation/cdn?provider=audio&styling=default-layout  */}}



{{/*  Import Styles  */}}
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/vidstack@^1.0.0/player/styles/default/theme.min.css"
/>


<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/vidstack@^1.0.0/player/styles/default/layouts/audio.min.css"
/>
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/vidstack@^1.0.0/player/styles/default/layouts/video.min.css"
/>


{{/*  Import Elements  */}}
<script
  src="https://cdn.jsdelivr.net/npm/vidstack@^1.0.0/cdn/with-layouts/vidstack.js"
  type="module"
></script>
